.videoContainer {
  background-color: grey;
  width: min-content;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.videoControls {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  background-color: #ddd;
  align-items: center;
}

.videoControls > * {
  margin: 0 0.5rem;
}

#progressBar {
  background-color: #ddd;
  border-radius: 5px;
  width: inherit;
  height: 10px;
  overflow: hidden;
}

#fullScreen {
  width: 140px;
}

#progressBar,
#fullScreen,
#playPause,
#mute {
  cursor: pointer;
}

#fullScreen,
#playPause,
#mute {
  width: 50px;
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
}
