.videoContainer {
  background-color: grey;
  width: min-content;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.videoControls{
  display: flex;
  width: 100%;
  padding: 0.5rem;
  background-color: #ddd;
  align-items: center;
}

.videoControls > * {
  margin: 0 0.5rem;
}

#playPause{
  width: 80px;
}

#mute{
  width: 100px;
}

#progressBar {
  background-color: #ddd;
  border-radius: 5px;
  width: inherit;
  height: 10px;
  overflow: hidden;
}

#fullScreen {
  width: 140px;
}